
require 'date'

<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
        <h1>The date is</h1>
        <p><p> The date is <%= Date.today.strftime("%A, %B %d, %Y") %></p></p>
    </body>
</html>
